node_modules/
# *.drawio
*.drawio.bkp
.DS_Store
# VS Code Config file
.vscode/
media/
.husky/
.github/

# VuePress Cache
**/.vuepress/
**/.obsidian/
**/interview/
**/algorithms/
**/about/
# VuePress Output
dist/
# Build files
packages/*/lib/
traversal-folder-replace-string.py
format-markdown.py
package-lock.json
lintmd-config.json
.markdownlint-cli2.mjs
.nojekyll
.prettierignore
.gitattributes
dist.zip
index.html
package.json
pnpm-lock.yaml
sw.js
.gitignore
